@import "tailwindcss";

@theme {
  --font-sans: "Zen Maru Gothic", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #fdf6e3;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6d3d1;
  border-radius: 20px;
}
